---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}
<br></br>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Directory</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: none;
        }
        td {
            border: none;
            text-align: center; /* Horizontally center content in all cells */
            vertical-align: middle; /* Vertically centers the content */
        }
        .name-column {
            /* text-align: center-right; */
            /* position: relative; */
            padding: 15px 8px;
            padding-left: 20%;
            /* text-align: center; */
            font-weight: bold;
            width: 20%; /* Adjust width as needed */
            white-space: nowrap; /* Prevents text from wrapping to the next line */
        }
        .name-column2 {
            text-align: left;
            padding-left: 20%;
            /* text-align: center; */
            font-weight: bold;
            width: 20%; /* Adjust width as needed */
            white-space: nowrap; /* Prevents text from wrapping to the next line */
        }
        .image-column img {
            padding: 12px 8px;
            display: inline-block;
            text-align: center;
            /* margin: 0 auto; */
            max-width: 100px; /* Set a maximum width for the images */
            height: auto; /* Maintain aspect ratio */
        }
        .blank-column {
            max-width: 100px; /* Set a maximum width for the images */
        }
    </style>
</head>
<body>

    <!-- <h1>People Directory</h1> -->

    <table>
        <tr>
            <td class ="name-column"><strong>Prof. Kerri Cahoy</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/Cahoy02.jpg" alt="Prof. Kerri Cahoy"></td>
            <td></td>

        </tr>
        <tr>
            <td class ="name-column"><strong>Dr. Paul Serra</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/paulserra.png" alt="Paul Serra"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Dr. Ajay Gill</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/ajay.jpg" alt="Ajay Gill"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Thomas Murphy</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/astronaut-clipart-cute-9.jpg" alt="Thomas Murphy"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Nicholas Belsten</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/Nick_Belsten.jpg" alt="Nicholas Belsten"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Patrick McKeen</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/Patrick_small.jpeg" alt="Patrick McKeen"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Shreeyam Kacker</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/ShreeyamKacker.JPG" alt="Shreeyam Kacker"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Hannah Tomio</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/HannahTomio.JPG" alt="Hannah Tomio"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Sophia Vlahakis</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/SophiaVlahakis.jpg" alt="Sophia Vlahakis"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Mary Dahl</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/MaryDahl.jpg" alt="Mary Dahl"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Samantha Hasler</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/SamanthaHasler.jpg" alt="Samantha Hasler"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Alex Meredith</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/alex.jpg" alt="Alex Meredith"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Maddie Garcia</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/maddieg.png" alt="Maddie Garcia"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Mason Black</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/mason.png" alt="Mason Black"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Humberto Caldelas</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/astronaut-clipart-cute-9.jpg" alt="Humberto Caldelas"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Christine Page</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/christine_page.jpg" alt="Christine Page"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Katherine Chun</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/KCHUN.jpg" alt="Katherine Chun"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Leonardo Gallo</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/leo.jpeg" alt="Leonardo Gallo"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Kristen Ammons</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/kristen.JPG" alt="Kristen Ammons"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Mohamed Mohamed</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/astronaut-clipart-cute-9.jpg" alt="Mo_carrat_2"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Dansil Green</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/astronaut-clipart-cute-9.jpg" alt="Dansil Green"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>James Dingley</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/Dingley_headshot.png" alt="James Dingley"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Madeline Loui Anderson</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/madi.jpg" alt="Madeline Loui Anderson"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Brandon Eickert</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/brandon.jpg" alt="Brandon Eickert"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Emma Shafer</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/emma_shafer.JPEG" alt="Emma Shafer"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Paige Forester</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/paige.png" alt="Paige Forester"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Adam Bahlous-Boldi</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/adam_0.jpg" alt="Adam Bahlous-Boldi"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Sai Manojkumar</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/astronaut-clipart-cute-9.jpg" alt="Sai Manojkumar"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Carissma McGee</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/headshot_mcgee.jpeg" alt="Carissma McGee"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Neel Mondal</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/neel.jpeg" alt="Neel Mondal"></td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column"><strong>Leila Freitag</strong></td>
            <td class ="image-column"><img src="{{ base_path }}/images/headshots/leila.jpg" alt="Leila Freitag"></td>
            <td></td>
        </tr>
    </table>

    <br></br>

    <h3>STAR Lab Alumni</h3>

    <table>
        <tr>
            <td class ="name-column2"><strong>Postdoc, Dr. Ewan Douglas</strong></td>
            <td class ="name-column2">2016-2019, Faculty U. Arizona</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Postdoc, Dr. Leonid Pogorelyuk</strong></td>
            <td class ="name-column2">2020-2023, Faculty RPI</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Whitney Lohmeyer</strong></td>
            <td class ="name-column2">Ph.D. 2015, S.M. 2013</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Ryan Kingsbury</strong></td>
            <td class ="name-column2">Ph.D. 2015</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Anne Marinan</strong></td>
            <td class ="name-column2">Ph.D. 2016, S.M. 2013</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Michael Pasqual</strong></td>
            <td class ="name-column2">Ph.D. 2016</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Matthew Webber</strong></td>
            <td class ="name-column2">Ph.D. 2017</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Hyosang Yoon</strong></td>
            <td class ="name-column2">Ph.D. 2017</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Tam Nguyen</strong></td>
            <td class ="name-column2">Ph.D. 2018, S.M. 2015</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Ashley Carlton</strong></td>
            <td class ="name-column2">Ph.D. 2018, S.M. 2016</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Emily Clements</strong></td>
            <td class ="name-column2">Ph.D. 2018, S.M. 2013</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Andrew Kennedy</strong></td>
            <td class ="name-column2">Ph.D. 2018, S.M. 2015</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Kathleen Riesing</strong></td>
            <td class ="name-column2">Ph.D. 2018, S.M. 2015</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Angela Crews</strong></td>
            <td class ="name-column2">Ph.D. 2019</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Roman Geykhman</strong></td>
            <td class ="name-column2">Ph.D. 2019</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Raichelle Aniceto</strong></td>
            <td class ="name-column2">Ph.D. 2019, S.M. 2017</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Pratik Dave</strong></td>
            <td class ="name-column2">Ph.D. 2020, S.M. 2014</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. James Clark</strong></td>
            <td class ="name-column2">Ph.D. 2020, S.M. 2016</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Riley Fitzgerald</strong></td>
            <td class ="name-column2">Ph.D. 2021, S.M. 2018</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Alexa Aguilar</strong></td>
            <td class ="name-column2">Ph.D. 2022, S.M. 2019</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Ezinne Uzo-Okoro</strong></td>
            <td class ="name-column2">Ph.D. 2022</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Paula do Vale Pereira</strong></td>
            <td class ="name-column2">Ph.D. 2022, S.M. 2019</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Gregory Allan</strong></td>
            <td class ="name-column2">Ph.D. 2022, S.M. 2018</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Christian Haughwout</strong></td>
            <td class ="name-column2">Ph.D. 2022, S.M. 2018</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Ondrej Čierny</strong></td>
            <td class ="name-column2">Ph.D. 2023</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Manwei Chan</strong></td>
            <td class ="name-column2">Ph.D. 2023</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Rachel Morgan</strong></td>
            <td class ="name-column2">Ph.D. 2023, S.M. 2020</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Peter Grenfell</strong></td>
            <td class ="name-column2">Ph.D. 2024, S.M. 2020</td>
            <td></td>
        </tr>
        <tr>
            <td class ="name-column2"><strong>Dr. Cadence Payne</strong></td>
            <td class ="name-column2">Ph.D. 2024, S.M. 2020</td>
            <td></td>
        </tr>

        <br></br>

        <tr>
            <td class ="name-column2"><strong></strong></td>
            <td class ="name-column2"></td>
            <td></td>
        </tr>

</body>


<!-- {% include footer.html %} -->


<!-- 
|                |                                   |                                       |
|:--------------:|:---------------------------------:|:-------------------------------------:|
| **John Doe**   | Professor of Computer Science     | ![John Doe](https://via.placeholder.com/100)   |
| **Jane Smith** | Associate Professor of Mathematics| ![Jane Smith](https://via.placeholder.com/100) |
| **Alan Brown** | Lecturer in Physics               | ![Alan Brown](https://via.placeholder.com/100) | -->
